# Babel extraction rules.
#
# pybabel extract -F babel.cfg -o src/uniqlo_sales_alerter/i18n/messages.pot src/
# pybabel update -i src/uniqlo_sales_alerter/i18n/messages.pot \
#                -d src/uniqlo_sales_alerter/i18n/locale -l en
# pybabel compile -d src/uniqlo_sales_alerter/i18n/locale

[python: **.py]

[jinja2: **/templates/**.html]
extensions = jinja2.ext.i18n
